.noblogs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  h1 {
    color: rgb(248, 95, 120);
  }
  div {
    display: flex;
    align-items: center;
    gap: 20px;
    a {
      font-size: 23px;
      text-decoration: none;
      margin-top: 7px;
    }
  }
}
.myblog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 30px auto;
  padding: 24px 70px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  h1 {
    color: rgb(248, 95, 120);
    width: 80%;
  }

  p:nth-child(2) {
    font-size: 20px;
    color: grey;
    margin-top: 20px;
  }
  p {
    color: black;
  }
}
.see-details {
  p {
    color: rgb(248, 95, 120);
    cursor: pointer;
    text-align: center;
    margin: 20px 0px;
  }
}
.filtered-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
