.noblogs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  h1 {
    color: rgb(248, 95, 120);
  }
  div {
    display: flex;
    align-items: center;
    gap: 20px;
    a {
      font-size: 23px;
      text-decoration: none;
      margin-top: 7px;
    }
  }
}

.myblog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 30px auto;
  padding: 24px 70px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  h1 {
    color: rgb(248, 95, 120);
    width: 80%;
  }

  p:nth-child(2) {
    font-size: 20px;
    color: grey;
    margin-top: 20px;
  }
  p {
    color: black;
  }
}
.see-details {
  p {
    color: rgb(248, 95, 120);
    cursor: pointer;
    text-align: center;
    margin: 20px 0px;
  }
}
.filtered-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1400px) {
  .myblogs {
    .myblog {
      overflow-wrap: break-word;
      display: block;
      width: 80%;
      div:nth-child(1) {
        margin: auto;
        text-align: center;

        width: 80% !important;
        h1 {
          margin: auto;
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .myblogs {
    padding: 50px;

    .myblog {
      width: 100%;
    }
  }
  .myblog-filtered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px 10px !important;
    div:nth-child(1) {
      width: 100%;
    }

    .deleteblog {
      margin: 30px 0px 20px 0px;
    }
  }
}

@media screen and (max-width: 770px) {
  .myblogs {
    padding: 50px 25px;

    .myblog {
      width: 100%;
      padding: 10px;
    }
  }

  .myblog-filtered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    h1 {
      font-size: 22px;
    }

    .deleteblog {
      margin: 30px 0px 20px 0px;
    }
  }
}

@media screen and (max-width: 770px) {
  .noblogs {
    padding: 20px;
    text-align: center;
    font-size: 14px;
    div {
      flex-direction: column;
      font-size: 14px;
      text-align: center;
      gap: 20px;
    }
  }
  .myblogs {
    .myblog {
      h1 {
        font-size: 18px;
      }
      p {
        font-size: 14px;
      }
    }
  }
  .filtered-main {
    h1 {
      font-size: 18px;
    }
    p {
      font-size: 14px;
    }
  }
}
